$color-primary: #ff69b4; // Couleur rose
$color-secondary: #ffffff; // Couleur blanche
$color-accent: #ffb6c1; // Couleur rose claire
$navbar-background: #766ee8; // Couleur de fond de la navbar // T'en pense quoi de ce bleu ?
$navbar-color: #ffffff; // Couleur du texte de la navbar
$navbar-hover-color: #31dfdd; // Couleur de survol du texte de la navbar
$footer-background: #766ee8; // Couleur de fond du footer // T'en pense quoi de ce bleu ?
$footer-color: #ffffff; // Couleur du texte du footer
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}

body{
    height: 100vh;
}


nav {
  width: 100%;
  background-color: $navbar-background;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;

    img{
        width: 90px;
    }
}


.container{
    background: linear-gradient(90deg, #766ee8, #b46ee8);
    height: 564px;
    width: 23%;
    margin: 130px auto;
    border-radius: 10px;
    position: relative;

    img{
        width: 60px;
        position: absolute;
        top: 50px;
    }
    
    .loginForm{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            
        
            input{
                    margin-bottom: 50px;
                    width: 80%;
                    font-size: 18px;
                    padding: 8px 20px;
                    outline: none;
                    border: none;
                    border-radius: 5px;
                }
            
            button{
                margin-bottom: 20px;
                border-radius: 10px;
                border: none;
                min-width: 150px;
                padding: 15px;
                font-size: 15px;
                cursor: pointer;
                transition: 0.3s;

                &:hover{
                    transform: translateY(-5px);
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
                    font-weight: bold;
                    background: #766ee8;
                    color: white;
                }


            }
            .redirectionLogin{
                text-align: center;


                p{
                    margin-bottom: 15px;
                    color: white;


                    a{
                        color: white;
                        text-decoration: underline;
                        text-underline-offset: 5px;
                    }
                }
            }
        }
}

a{
    color: white;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: $footer-background;
    padding: 15px;
    text-align: center;
    color: $footer-color;
    font-size: 1.2em;
  }
