$color-primary: #ff69b4; // Couleur rose
$color-secondary: #ffffff; // Couleur blanche
$color-accent: #ffb6c1; // Couleur rose claire
$navbar-background: #766ee8; // Couleur de fond de la navbar // T'en pense quoi de ce bleu ?
$navbar-color: #ffffff; // Couleur du texte de la navbar
$navbar-hover-color: #31dfdd; // Couleur de survol du texte de la navbar
$footer-background: #766ee8; // Couleur de fond du footer // T'en pense quoi de ce bleu ?
$footer-color: #ffffff; // Couleur du texte du footer
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  text-decoration: none;
}



nav {
  width: 100%;
  background-color: $navbar-background;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .left img{
    width: 80px;
  }

  a {
    color: $navbar-color;
    text-decoration: none;
    font-size: 1.6em;
    margin-right: 50px;
    transition: 0.3s;

    &:hover {
      color: $navbar-hover-color;
    }
  }
}

body{
  height: 100vh;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;

  
    
      img{
        width: 800px;
      }

      .block-left h1{
        width: 82%;
        font-size: 2.5em;
      }
      .block-left p{
        width: 70%;
        margin: 30px 0 70px 0;
        line-height: 40px;
        font-size: 1.5em;
      }
  
}

button{
  min-width: 200px;
  font-size: 20px;
  padding: 22px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    background: #766ee8;
    color: white;
  }

    a{
      color: blue;
    }


}



form {
  background: $color-accent;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);

  label {
    color: $color-primary;
  }

  input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid $color-primary;
  }

  button {
    background: $color-primary;
    color: $color-secondary;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background: darken($color-primary, 10%);
    }
  }

  .redirectionLogin {
    text-align: center;

    a {
      color: $color-primary;
      transition: 0.3s;

      &:hover {
        color: darken($color-primary, 10%);
      }
    }
  }
}



footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $footer-background;
  padding: 15px;
  text-align: center;
  color: $footer-color;
  font-size: 1.2em;
}


@media screen and (max-width: 1550px){
    .block-left{
      padding-left: 20px;
    }
}

@media screen and (max-width: 1340px){
    .block-left{
      font-size: 15px;
    }

    .block-right img{
      width: 600px;
    }
}

@media screen and (max-width: 1090px){
    .block-left{
      font-size: 12px;
    }

}

@media screen and (max-width: 995px){
    .container{
      flex-direction: column-reverse;
    
      .block-left{
        text-align: center;
        padding-left: 0;

        p{
          width: 60%;
          margin: 30px auto;
        }

        h1{
          margin: auto;
        }
      }  

    }

}

@media screen and (max-width: 650px){
    .block-right img{
      width: 500px;
    }

    nav {
      width: 100%;

      a{
        font-size: 1.3em;
        margin-right: 20px;
      }
    }

}